<body>
<h2 align="center" id="visitorCount">{{ visitorCount }}</h2>
<p align="center">people currently on the Everybody: Cares stream!</p>

    <script src="https://js.pusher.com/4.2/pusher.min.js"></script>
    <script>
        var pusher = new Pusher("{{ appKey }}", {
            cluster: "{{ appCluster }}",
        });
        pusher.subscribe("{{ updatesChannel }}")
                .bind('pusher:subscription_succeeded', function () 
                {
                    pusher.subscribe(Date.now() + Math.random().toString(36).replace(/\W+/g, ''));
                })
                .bind('update', function (data) {
                    document.getElementById('visitorCount').textContent = data.newCount;
                })
    </script>

</body>
